@model MarcaVM

@{
    var titulo = Model.IdMarca == 0 ? "Nueva Marca" : "Editar Marca";
    var btnAccion = Model.IdMarca == 0 ? "Agregar nueva" : "Guardar Cambios";
}

<div class="row">
    <div class="col-6">
        <h2>@titulo</h2>
        <hr/>
        <form method="post" action="/Marca/AddEdit">
            <input type="hidden" asp-for="IdMarca" value="@Model.IdMarca" />
            @if(Model.IdMarca == 0)
            {
                @* //Agrega el valor del campo Activo como true por defecto *@
                <input type = "hidden" asp-for="Activo" value = "true" />
            }
            else
            {
                <div class="form-check form-switch mb-3 mt-3">
                    <input class="form-check-input" type="checkbox" asp-for="Activo" />
                    <label class="form-check-label" asp-for="Activo">Marca Activa</label>
                </div>
            }

            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label">Descripción</label>
                <input type="text" asp-for="Descripcion" class="form-control" autocomplete="off" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            @if(ViewBag.mensaje != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.mensaje
                </div>
            }
             <div class="d-grid gap-2 d-md-block mt-4">
                <button type="submit" class="btn btn-primary">@btnAccion <i class="fa-solid fa-floppy-disk"></i></button>
                <a asp-controller="Marca" asp-action="Index" class="btn btn-secondary">Retornar <i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </form>
    </div>
</div>
