<div class="row p-5 bg-light mt-4 justify-content-center">
    <div class="col-sm-12 text-center">
        <i class="fa-solid fa-clipboard-check fa-10x text-success mb-4"></i>
        <h1 class="display-4">¡Compra realizada con éxito!</h1>

        <h4 class="text-dark-emphasis mb-4">Revisa tu correo para mas detalles</h4>

        <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Continuar Comprando</a>
            <a class="btn btn-primary" asp-controller="Usuario" asp-action="MyOrders">Ver mis Ordenes</a>
        </div>
    </div>
</div>
